global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:3000
    default_backend node_backend

backend node_backend
    balance roundrobin
    option httpchk GET /health
    
    server app1 app1:3000 check inter 500ms fall 1 rise 2
    server app2 app2:3000 check inter 500ms fall 1 rise 2
    server app3 app3:3000 check inter 500ms fall 1 rise 2
